<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
    <!-- Ajoutez ici vos liens vers les fichiers CSS ou autres ressources -->
</head>
<body>
    <!-- Ici, vous pouvez ajouter un en-tête, une barre de navigation ou d'autres éléments communs à toutes les pages -->
    
    <!-- Contenu dynamique de la page -->
    <%- body %>
    
    <!-- Ici, vous pouvez ajouter un pied de page ou d'autres éléments communs à toutes les pages -->
</body>
</html>
