<h1>Profil de <%= user.firstname %> <%= user.lastname %></h1>
<p>Rôle : <%= user.role %></p>
<form action="/api/auth/logout" method="post">
    <button type="submit">Déconnexion</button>
  </form>

    <a href="/Addrooms">Ajouter une salle</a>

    <a href="/api/crudReservation/Getreservations">Mes reservations</a>
<a href="/api/crudRoom/list">Voir les chambres</a>
