
    <div class="container-xxl bg-white p-0">
        <!-- Register Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                                    <h6 class="section-title text-center text-primary text-uppercase">Register</h6>
                                    <h3 class="mb-5"><span class="text-primary text-uppercase">Créer</span> un nouveau compte</h3>
                                </div>
                                <form action="/api/auth/register" method="post">
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Your First Name" required>
                                            <label for="firstname">Prénom</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Your Last Name" required>
                                            <label for="lastname">Nom</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
                                            <label for="email">Votre Adresse mail</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Your Password" required>
                                            <label for="password">Votre Mot De passe</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="Your Birthdate" required>
                                            <label for="birthdate">Date de naissance</label>
                                        </div>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-primary btn-block" type="submit">Créér un compte</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Register End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

  
